<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="zmebot_dual_arm">
  <link name="world"/>
  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000168548989909387 6.27853972647204E-18 0.128326881912969"
        rpy="0 0 0" />
      <mass
        value="48.1409464093523" />
      <inertia
        ixx="0.960293559006725"
        ixy="6.07639870478567E-19"
        ixz="-5.51718601003434E-06"
        iyy="0.958254472201111"
        iyz="8.41965741361196E-18"
        izz="1.49409378185454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.11"
        rpy="0 0 0" />
      <geometry>
          <cylinder length="0.23" radius="0.27"/>
      </geometry>
    </collision>
  </link>
  <link
    name="environment_collision">
    <inertial>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <mass
        value="0.0" />
      <inertia
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.005"
        rpy="0 0 0" />
      <geometry>
          <box size="1 1 0.01"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.3 0 1"
        rpy="0 0 0" />
      <geometry>
          <box size="0.2 3 2"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 -0.1"
        rpy="0 0 0" />
      <geometry>
          <box size="2 2 0.21"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="environment_base_joint"
    type="fixed">
    <origin
      xyz="0 0 0.0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="environment_collision" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lifting_base_link">
    <inertial>
      <origin
        xyz="-0.00302800458714917 -1.02201325747955E-12 0.443038024119314"
        rpy="0 0 0" />
      <mass
        value="46.3510500521532" />
      <inertia
        ixx="3.11198989885068"
        ixy="2.97023397250653E-13"
        ixz="-8.58940977326128E-05"
        iyy="3.33227075163353"
        iyz="7.31150819007624E-14"
        izz="0.588861670520619" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/lifting_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.08 0 0.32"
        rpy="0 0 0" />
      <geometry>
          <cylinder length="1.4" radius="0.11"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.0 0 0.32"
        rpy="0 0 0" />
      <geometry>
          <cylinder length="1.4" radius="0.11"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.06 0 0.32"
        rpy="0 0 0" />
      <geometry>
          <cylinder length="1.4" radius="0.11"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="lifting_base_joint"
    type="prismatic">
    <origin
      xyz="0 0 0.23"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lifting_base_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.4"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_link1">
    <inertial>
      <origin
        xyz="-1.10040935681222E-05 1.06915037278998E-06 0.0780437197201133"
        rpy="0 0 0" />
      <mass
        value="0.713973488385901" />
      <inertia
        ixx="0.00199523350333969"
        ixy="6.82977412436609E-09"
        ixz="-2.77097884737214E-07"
        iyy="0.00171500912083221"
        iyz="1.93344743481919E-08"
        izz="0.00105414270232429" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/left_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.05"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 0.11"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint1"
    type="revolute">
    <origin
      xyz="-0.01 0.075 0.47"
      rpy="-1.5708 0 0" />
    <parent
      link="lifting_base_link" />
    <child
      link="left_link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2"
      upper="2"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="left_link2">
    <inertial>
      <origin
        xyz="-4.88977240139382E-08 -0.0776577332602061 -0.000196094098589783"
        rpy="0 0 0" />
      <mass
        value="1.22186838833907" />
      <inertia
        ixx="0.00431089061466004"
        ixy="1.5530816290066E-09"
        ixz="1.81520450354588E-09"
        iyy="0.00161158764394245"
        iyz="-6.93831541420302E-10"
        izz="0.00461456025384617" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/left_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.1 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 -0.17 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint2"
    type="revolute">
    <origin
      xyz="0 0.0 0.1145"
      rpy="-1.5708 0 0" />
    <parent
      link="left_link1" />
    <child
      link="left_link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.74"
      upper="1.74"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="left_link3">
    <inertial>
      <origin
        xyz="0.00357266414542081 1.68852544168985E-08 0.115637255566288"
        rpy="0 0 0" />
      <mass
        value="2.10512824302957" />
      <inertia
        ixx="0.0123371955463604"
        ixy="2.35869623232043E-09"
        ixz="-0.00105600184005996"
        iyy="0.0129877323788634"
        iyz="-2.01098263620159E-08"
        izz="0.00342947112175913" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/left_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.11"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 0.19"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint3"
    type="revolute">
    <origin
      xyz="0 -0.1565 0.0"
      rpy="1.5708 0 0" />
    <parent
      link="left_link2" />
    <child
      link="left_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2"
      upper="2"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="left_link4">
    <inertial>
      <origin
        xyz="-0.0383236605712714 0.120057624417469 -0.0150000300985275"
        rpy="0 0 0" />
      <mass
        value="1.79906181586533" />
      <inertia
        ixx="0.0178294412333341"
        ixy="0.0024958345178222"
        ixz="-6.19486317954661E-09"
        iyy="0.0026684170153703"
        iyz="-4.85888492483708E-09"
        izz="0.0183044659780618" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/left_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.011 0 -0.015"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.05 0.04 -0.015"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.05 0.11 -0.015"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.05 0.18 -0.015"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.05 0.25 -0.015"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint4"
    type="revolute">
    <origin
      xyz="0.05 -0.015 0.2435"
      rpy="1.5708 0 0" />
    <parent
      link="left_link3" />
    <child
      link="left_link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.95"
      upper="0.1"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="left_link5">
    <inertial>
      <origin
        xyz="2.14907366627645E-05 4.9587453032629E-09 0.0458768841119948"
        rpy="0 0 0" />
      <mass
        value="0.399989890772059" />
      <inertia
        ixx="0.000506333926684585"
        ixy="8.88627872167708E-11"
        ixz="1.87347058614885E-07"
        iyy="0.000582681880732537"
        iyz="2.04699367250415E-10"
        izz="0.000246172307176955" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/left_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0 0.03"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint5"
    type="revolute">
    <origin
      xyz="-0.05 0.2895 -0.015"
      rpy="-1.5708 0 0" />
    <parent
      link="left_link4" />
    <child
      link="left_link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2"
      upper="2"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="left_link6">
    <inertial>
      <origin
        xyz="-2.1272000437153E-08 0.033480138205652 -7.83527687175933E-11"
        rpy="0 0 0" />
      <mass
        value="0.403608898205905" />
      <inertia
        ixx="0.000517665104935843"
        ixy="4.24907213349339E-12"
        ixz="-2.5098707986565E-10"
        iyy="0.000363010167071078"
        iyz="6.77630302632939E-13"
        izz="0.000440462067050155" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 -1.5708" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/left_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 -0.01 0.0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.04 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint6"
    type="revolute">
    <origin
      xyz="0 0 0.0905"
      rpy="1.5708 0 0" />
    <parent
      link="left_link5" />
    <child
      link="left_link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.1"
      upper="3.2415"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="left_link7">
    <inertial>
      <origin
        xyz="7.97972798949331E-17 -1.11022302462516E-16 -0.021837737648704"
        rpy="0 0 0" />
      <mass
        value="0.125448761870641" />
      <inertia
        ixx="3.30106452016158E-05"
        ixy="-4.10965584342903E-37"
        ixz="-7.68851098576514E-20"
        iyy="3.30106452016158E-05"
        iyz="1.56155776140298E-22"
        izz="5.50079560227829E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 1.5708 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/left_link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.02 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_joint7"
    type="revolute">
    <origin
      xyz="0.1245 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="left_link6" />
    <child
      link="left_link7" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2"
      upper="2"
      effort="150"
      velocity="0.1" />
  </joint>
  <joint
    name="left_cam_joint"
    type="fixed">
    <origin
      xyz="0.0 0.0 0.0"
      rpy="0 0 0" />
    <parent
      link="left_link7" />
    <child
      link="left_cam_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_cam_link">
    <inertial>
      <origin
        xyz="0 0.0 0.0"
        rpy="0 0 0" />
      <mass
        value="0.0" />
      <inertia
        ixx="1.36427599523669E-05"
        ixy="1.37712932461121E-09"
        ixz="2.44286629635238E-09"
        iyy="1.54228435523601E-06"
        iyz="1.48639843031823E-07"
        izz="1.46198269469302E-05" />
    </inertial>
    <collision>
      <origin
        xyz="-0.04 0.04 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.04 -0.04 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.04 0.0 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.08 0.04 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.08 -0.04 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.08 0.0 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
  <link
    name="right_link1">
    <inertial>
      <origin
        xyz="-1.1004E-05 1.0696E-06 0.078044"
        rpy="0 0 0" />
      <mass
        value="0.71397" />
      <inertia
        ixx="0.0019952"
        ixy="6.8306E-09"
        ixz="-2.771E-07"
        iyy="0.001715"
        iyz="1.9338E-08"
        izz="0.0010541" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/right_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.05"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 0.11"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint1"
    type="revolute">
    <origin
      xyz="-0.01 -0.075 0.47"
      rpy="1.5708 0 0" />
    <parent
      link="lifting_base_link" />
    <child
      link="right_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2"
      upper="2"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="right_link2">
    <inertial>
      <origin
        xyz="-4.8898E-08 0.077658 0.00019609"
        rpy="0 0 0" />
      <mass
        value="1.2219" />
      <inertia
        ixx="0.0043109"
        ixy="-1.5531E-09"
        ixz="-1.8152E-09"
        iyy="0.0016116"
        iyz="-6.9383E-10"
        izz="0.0046146" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/right_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.1 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0.17 0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint2"
    type="revolute">
    <origin
      xyz="0 0 0.1145"
      rpy="1.5708 0 0" />
    <parent
      link="right_link1" />
    <child
      link="right_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.74"
      upper="1.74"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="right_link3">
    <inertial>
      <origin
        xyz="0.00357266414542121 1.68852544168985E-08 0.115637255566288"
        rpy="0 0 0" />
      <mass
        value="2.10512824302958" />
      <inertia
        ixx="0.0123371955463604"
        ixy="2.35869623844826E-09"
        ixz="-0.00105600184005997"
        iyy="0.0129877323788634"
        iyz="-2.01098263620159E-08"
        izz="0.00342947112175906" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/right_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.11"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0 0 0.19"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint3"
    type="revolute">
    <origin
      xyz="0 0.1565 0.0"
      rpy="-1.5708 0 0" />
    <parent
      link="right_link2" />
    <child
      link="right_link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2"
      upper="2"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="right_link4">
    <inertial>
      <origin
        xyz="-0.0383236918592445 -0.120057674244697 -0.0149999826468663"
        rpy="0 0 0" />
      <mass
        value="1.79905918727178" />
      <inertia
        ixx="0.0178294398576364"
        ixy="-0.00249583386179804"
        ixz="6.75919850658173E-09"
        iyy="0.00266841614163914"
        iyz="-4.00357891632011E-09"
        izz="0.0183044643224892" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/right_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.011 0 -0.015"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.07"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.05 -0.04 -0.015"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.05 -0.11 -0.015"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.05 -0.18 -0.015"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.05 -0.25 -0.015"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint4"
    type="revolute">
    <origin
      xyz="0.05 0.015 0.2435"
      rpy="-1.5708 0 0" />
    <parent
      link="right_link3" />
    <child
      link="right_link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.95"
      upper="0.1"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="right_link5">
    <inertial>
      <origin
        xyz="2.14907366632121E-05 4.9587453032629E-09 0.0458768841119949"
        rpy="0 0 0" />
      <mass
        value="0.399989890772061" />
      <inertia
        ixx="0.000506333926684586"
        ixy="8.88627864202978E-11"
        ixz="1.87347058613283E-07"
        iyy="0.000582681880732539"
        iyz="2.04699367809498E-10"
        izz="0.000246172307176956" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/right_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0 0.03"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.06"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint5"
    type="revolute">
    <origin
      xyz="-0.05 -0.2895 -0.015"
      rpy="1.5708 0 0" />
    <parent
      link="right_link4" />
    <child
      link="right_link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2"
      upper="2"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="right_link6">
    <inertial>
      <origin
        xyz="-2.12676389450828E-08 -0.033081413238637 -1.35839117731962E-10"
        rpy="0 0 0" />
      <mass
        value="0.403608898049363" />
      <inertia
        ixx="0.000517665106473271"
        ixy="-3.967756319313E-12"
        ixz="2.522115225816E-10"
        iyy="0.000363010165860092"
        iyz="-3.76288337216047E-13"
        izz="0.000440462067582542" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 1.5708" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/right_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.01 0.0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="0.04 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.055"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint6"
    type="revolute">
    <origin
      xyz="0 0 0.0905"
      rpy="-1.5708 0 0" />
    <parent
      link="right_link5" />
    <child
      link="right_link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.1"
      upper="3.2415"
      effort="150"
      velocity="0.1" />
  </joint>
  <link
    name="right_link7">
    <inertial>
      <origin
        xyz="-7.45931094670027E-17 1.11022302462516E-16 -0.021837737648704"
        rpy="0 0 0" />
      <mass
        value="0.125448761870641" />
      <inertia
        ixx="3.30106452016158E-05"
        ixy="6.80695156427381E-37"
        ixz="7.7195688604978E-20"
        iyy="3.30106452016158E-05"
        iyz="1.56155776140298E-22"
        izz="5.50079560227829E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 1.5708 0" />
      <geometry>
        <mesh
          filename="package://arm_configuration/urdf/meshes/right_link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.02 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_joint7"
    type="revolute">
    <origin
      xyz="0.1245 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="right_link6" />
    <child
      link="right_link7" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2"
      upper="2"
      effort="150"
      velocity="0.1" />
  </joint>
  <joint
    name="right_cam_joint"
    type="fixed">
    <origin
      xyz="0.0 0.0 0.0"
      rpy="0 0 0" />
    <parent
      link="right_link7" />
    <child
      link="right_cam_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_cam_link">
    <inertial>
      <origin
        xyz="0 0.0 0.0"
        rpy="0 0 0" />
      <mass
        value="0.0" />
      <inertia
        ixx="1.36427599523669E-05"
        ixy="1.37712932461121E-09"
        ixz="2.44286629635238E-09"
        iyy="1.54228435523601E-06"
        iyz="1.48639843031823E-07"
        izz="1.46198269469302E-05" />
    </inertial>
    <collision>
      <origin
        xyz="-0.04 0.04 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.04 -0.04 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.04 0.0 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.08 0.04 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.08 -0.04 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
    <collision>
      <origin
        xyz="-0.08 0.0 0.035"
        rpy="0 0 0" />
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
    </collision>
  </link>
</robot>
